<div class="container">

<div class="jumbotron">
  <h1 id="jumboHeader"> BURGER EATER </h1>
</div>

<div id="burgersRow" class="row">
    <div class="col-md-6">  
<div id="notDevouredBlock"> 
{{!-- <h2 id="notDevouredTitle">Burgers that are NOT devoured!</h2> --}}
<div class="panel panel-default">
    <div id="notDevouredTitle" class="panel-heading"><h2 id="notDevouredTitle">Burgers that are NOT devoured!</h2></div>
  <div class="panel-body">
      <ol id="burgerList">

        {{#each burgers}}
          {{#unless this.devoured}}
            <li>

              <div class="panel panel-default">
                <div id="notDevouredTitle" class="panel-heading pHeaders">{{this.burger_name}}</div>
                <div class="panel-body">
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button id="changeBtn1" type="submit" class="btn btn-primary btn-lg buttons">Devour it!</button>
              </form>
              {{> burgers/delete-burger}}


                    </div>
                    </div>
            </li>
          {{/unless}}
        {{/each}}
 

      </ol>
  </div>
</div>

</div>

</div>


<div class="col-md-6">
<div id="devouredBlock">
<div class="panel panel-default">
  <div id="notDevouredTitle" class="panel-heading pHeaders"><h2 id="devouredTitle">Burgers that are devoured!</h2></div>
  <div class="panel-body">

<ol id="burgerList">
  {{#each burgers}}
    {{#if this.devoured}}
      <li>


              <div class="panel panel-default">

                  <div id="notDevouredTitle" class="panel-heading pHeaders">{{this.burger_name}}</div>
                <div class="panel-body">


        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button id="changeBtn2" type="submit" class="btn btn-primary btn-lg buttons">BRING BACK TO LIFE!</button>
        </form>
         {{> burgers/delete-burger}}

            </div>
            </div>


      </li>
    {{/if}}
  {{/each}}
</ol>
</div>

</div>


</div>


</div>

</div>




<div class="row">
<div class="col-md-12">
<div id="eatDaBurgerWrapper"> 

<div class="panel panel-default">
  <div class="panel-heading">
<h2 id="eatDaBurgerHeader" class="pHeaders">New Burger</h2></div>

  <div class="panel-body">


            <div class="panel panel-default">

                <div class="panel-body">

                        <form class="create-update-form" action="/" method="POST">
                        
                          <div class="form-group">
                            <label for="ca">Burger Name:</label>
                            <input type="text" id="ca" name="name">
                          </div>
                        
                          <div id="devouredForm" class="form-group">
                            <label for="slee">Devoured?</label>
                            <br>
                            <input type="radio" name="devoured" value="1" checked> Devoured!
                            <br>
                            <input type="radio" name="devoured" value="0"> Not Devoured
                          </div>
                        
                          <button id="addBurger" type="submit">Add Burger</button>
                        </form>




                </div>
              
            </div>

  </div>
</div>

</div>
</div>
</div>


</div>


</div>
