body {
    background-image: URL("../img/whiteBurger3.jpg");
    font-family: 'Archivo Black', sans-serif !important;
}
ol li {
    list-style:none;
    padding: 5px;
    margin: 5px;


  }



.jumbotron {
      background-color: #337ab7 !important;
    color: #fff !important;
    box-shadow: 3px 3px 20px #789 !important;
}

.panel-heading{
  background-color: #337ab7 !important;
  color: #fff !important;
}
.panel-default {
    box-shadow: 3px 3px 20px #789 !important;
}

#changeBtn1, #changeBtn2, .deleteBtn {
  display: block;
}
#changeBtn1, #changeBtn2 {
  float: left;
  margin-right: 5px;
}


#notDevouredTitle {
      font-size: 30px;
}

#jumboHeader {
  text-align: center;
}

#burgerList{
  padding:0 !important;
}
  #mainHeader {
    margin-left: 17%;
  }

#burgerImageRow {
    margin-left: 3%;
}

  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #B6B6B6;
    display: block;
    margin: auto;
    width: 40%;
    margin-left: 25%;
  }

  #submitForm {
    margin-left: 40%;
  }
  
  #burgerForm {
    width: 100%;
    margin-bottom: 3%;
  }

#devouredForm {
  margin-bottom: 3%;
}

#eatDaBurgerHeader {
    margin-left: 40%;
}


@media screen and (max-width: 768px) {

  #submitForm {
        margin-left: 0%;
  }

}