body {
    /* background-color: #e5ffdd !important; */
    background-image: URL("../img/burgerBack.png");
}
ol li {
    list-style:none;
    padding: 5px;
    margin: 5px;
    /* padding: 0; */

  }

  .buttons {
 padding: 30px 150px;
 overflow: hidden; /* for clearfix */
}
#changeBtn1, #changeBtn2, .deleteBtn {
  display: block;
}
#changeBtn1, #changeBtn2 {
  float: left;
}
/* .deleteBtn {
  float: right;
} */

#jumboHeader {
  text-align: center;
}

#burgerList{
  padding:0 !important;
}
  #mainHeader {
    margin-left: 17%;
  }

#burgerImageRow {
    margin-left: 3%;
}

  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #B6B6B6;
    display: block;
    margin: auto;
    width: 40%;
    margin-left: 25%;
  }
  
  .form-group {
    margin-bottom: 5px;
    margin-left: 24%;
    
  }

  #addBurger {
    margin-left: 40%;
  }
#devouredForm {
    margin-left: 40%;
}

#eatDaBurgerHeader {
    margin-left: 40%;
}

#burgersRow {
    /* margin-left: 14%; */
}

